<h2 mat-dialog-title>Neuen Mieter anlegen</h2>
<mat-dialog-content [formGroup]="mieterForm" class="dialog-content-fix">
  
  <div style="padding-top: 15px; display: flex; flex-direction: column; gap: 5px;">
    
    <mat-form-field appearance="outline">
      <mat-label>Name des Mieters</mat-label>
      <input matInput formControlName="name" placeholder="z.B. Max Mustermann">
      <mat-error *ngIf="mieterForm.get('name')?.hasError('required')">
        Der Name ist <strong>erforderlich</strong>.
      </mat-error>
    </mat-form-field>

    <div style="display: flex; gap: 10px;">
      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Stockwerk</mat-label>
        <input matInput formControlName="stockwerk" placeholder="z.B. 1. OG">
        <mat-error *ngIf="mieterForm.get('stockwerk')?.hasError('required')">
          Pflichtfeld.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Zimmer</mat-label>
        <input matInput type="number" formControlName="zimmer">
        <mat-error *ngIf="mieterForm.get('zimmer')?.hasError('min')">
          Mind. 1 Zimmer.
        </mat-error>
      </mat-form-field>
    </div>

    <div style="display: flex; gap: 10px;">
      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Kaltmiete (€)</mat-label>
        <input matInput type="number" formControlName="kaltmiete">
        <mat-error *ngIf="mieterForm.get('kaltmiete')?.hasError('required')">
          Betrag fehlt.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Nebenkosten (€)</mat-label>
        <input matInput type="number" formControlName="nebenkosten">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Gesamtmiete (€) - Berechnet</mat-label>
      <input matInput type="number" formControlName="gesamtmiete">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kaution (€)</mat-label>
      <input matInput type="number" formControlName="kaution">
      <mat-error *ngIf="mieterForm.get('kaution')?.hasError('required')">
        Bitte Kaution angeben (auch 0 möglich).
      </mat-error>
    </mat-form-field>
    
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="speichern()" [disabled]="!mieterForm.valid">
    Hinzufügen
  </button>
</mat-dialog-actions>